.header{
    font-size: x-large;
    font-weight: bold;
}

.message{
    margin-left: 20px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}
.margin-top{
    margin-top: 7px;
}
.sender{
    margin-left: 7px;
}